.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

* {
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'roboto', sans-serif;
  background: #ffffff;
  color: #2f303a;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Header
=================== */
.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header .container {
  display: flex;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2em;
  text-decoration: none;
  color: #2196f3;
}

.logo .logo__text {
  color: #000000;
}

.site-nav .site-nav__list {
  display: flex;
  padding-left: 0;
  margin-left: 93px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1em;
  color: inherit;
}

.site-nav__item {
  position: relative;
}

.site-nav__list .site-nav__item + .site-nav__item,
.contacts .contacts__item + .contacts__item {
  margin-left: 50px;
}

.site-nav__link:hover,
.site-nav__link:focus {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}

.current {
  color: #2196f3;
}

.current::after {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  bottom: -1px;
  border-radius: 2px;
  background-color: #2196f3;
}

.site-nav__link,
.contacts__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
}

.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143em;
  display: flex;
  margin-left: auto;
}

.envelope-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.smartphone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.contacts__link {
  display: flex;
  align-items: center;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Footer
=================== */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.foot-cont-sect {
  display: flex;
  align-items: baseline;
}

.foot-logo-elem {
  color: #ffffff;
}

.foot-add,
.foot-contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7em;
}

.foot-add {
  margin-top: 20px;
  color: #ffffff;
}

.foot-contacts {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-contacts:hover, .foot-contacts:focus {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-elem {
  margin-top: 9px;
}

/* Footer form
=================== */
.foot-form {
  display: flex;
  margin-left: auto;
  align-items: flex-end;
}

.foot-form-inp {
  width: 358px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  background-color: #2f303a;
}

.foot-form-inp:hover,
.foot-form-inp:focus .foot-form-inp::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25em;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.foot-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 200px;
  height: 50px;
  padding: 10px 28px 10px 29px;
  margin-left: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9em;
  border: transparent;
  background: #2196f3;
  color: #ffffff;
}

.foot-form-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}

/* Team social
=================== */
.work-item {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.work-item .work-elem + .work-elem {
  margin-left: 8px;
}

.work-but {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.6em;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #f5f4fa;
  color: #212121;
}

.work-but:hover, .work-but:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #2196f3;
  color: #ffffff;
}

/* Footer social
=================== */
.foot-cocial-sect {
  margin-left: 72px;
}

.foot-name,
.foot-form-name {
  margin-bottom: 20px;
  color: #ffffff;
}

.foot-icon {
  display: flex;
  justify-content: center;
}

.foot-icon-elem:not(:first-child) {
  margin-left: 10px;
}

.foot-icon-url {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-icon-url:hover, .foot-icon-url:focus {
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #2196f3;
  color: #ffffff;
}

.foot-icon-url:hover .icon,
.foot-icon-url:focus .icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Backdrop, Modal
=================== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
}

.btn-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  box-sizing: border-box;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #ffffff;
  fill: #212121;
}

.btn-modal-close:hover {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-btn-close {
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  width: 11px;
  height: 11px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15em;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-form-icon-lab {
  position: relative;
  margin-bottom: 10px;
}

.modal-form-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167em;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
}

.modal-form-inp {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
}

.modal-form-inp:hover + .modal-form-icon,
.modal-form-inp:focus + .modal-form-icon {
  color: #2196f3;
}

.modal-form-icon {
  position: absolute;
  top: 29px;
  left: 12px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment {
  font-size: 14px;
  line-height: 1.143em;
  letter-spacing: 0.01em;
  resize: none;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: -10px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-inp:hover,
.modal-form-inp:focus,
.modal-form-comment:hover,
.modal-form-comment:focus {
  border-color: #2196f3;
}

/* Modal checkbox
=================== */
.modal-form-check-cont {
  display: inline-block;
  align-self: center;
  margin-bottom: 30px;
}

.modal-form-check-cont:hover > .modal-form-checkbox,
.modal-form-check-cont:focus > .modal-form-checkbox {
  border-color: #2196f3;
}

.modal-form-checkbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check-inp:checked + .modal-form-checkbox {
  background-color: #2196f3;
  border-color: #2196f3;
}

.modal-form-checkbox-icon {
  position: absolute;
  display: block;
  width: 12px;
  height: 11px;
  fill: #ffffff;
}

.modal-form-chek-text {
  display: inline-block;
  padding-left: 4px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.m-form-checkbox-url {
  color: #2196f3;
}

.modal-form-but {
  display: block;
  align-self: center;
  padding: 10px 55px 10px 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Button
=================== */
.hero__button,
.modal-form__button {
  font-weight: 700;
  line-height: 1.9em;
  padding: 10px 32px;
  background-color: #2196f3;
  color: #ffffff;
}

.hero__button,
.work__button,
.modal-form__button {
  font-size: 16px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  font-family: inherit;
  cursor: pointer;
  border: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus,
.modal-form__button:hover,
.modal-form__button:focus {
  background-color: #188ce8;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Title section
=================== */
.hero {
  padding: 200px 0;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background-img.jpg);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  padding-bottom: 30px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4em;
  color: #ffffff;
}

/* Quality section
=================== */
.quality.section {
  padding-bottom: 0;
}

.quality__list {
  display: flex;
  margin-left: -30px;
}

.quality__list > .quality__item {
  flex-basis: calc(100% / 4);
  margin-left: 30px;
}

.quality__thumb {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f4fa;
}

.quality__title,
.footer-cocial__name,
.footer-form__name {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1em;
  text-align: left;
  text-transform: uppercase;
}

.quality__text {
  font-size: 14px;
  line-height: 1.7em;
  color: #757575;
}

/* Service section
=================== */
.services__title,
.team__title,
.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2em;
  margin-bottom: 50px;
  text-align: center;
}

.services__list {
  display: flex;
  margin-left: -30px;
}

.services__list > .services__item {
  flex-basis: calc(100% / 3);
  margin-left: 30px;
}

.services__item {
  position: relative;
}

.services__text {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

/* Team section
=================== */
.team {
  background: #f5f4fa;
}

.team__list {
  display: flex;
  margin-left: -30px;
}

.team__list > .team__item {
  flex-basis: calc(100% / 4);
  margin-left: 30px;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}

.team-card__meta {
  padding: 30px 0;
  text-align: center;
}

.team-card__name {
  margin-bottom: 10px;
}

.team-card__name,
.team-card__position {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2em;
  text-align: center;
}

.team-card__position {
  margin-bottom: 16px;
  color: #757575;
}

.team-card__list {
  display: flex;
  justify-content: center;
}

.team-card__item:not(:first-child) {
  margin-left: 10px;
}

.team-card__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.team-card__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  color: #afb1b8;
}

.team-card__link:hover, .team-card__link:focus {
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #2196f3;
  color: #ffffff;
}

.team-card__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Features
=================== */
.features-item {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.features-elem {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.features-item > .features-elem {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.card {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover, .card:focus {
  cursor: pointer;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .card-text-cont,
.card:focus .card-text-cont {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card .card-feat-cont {
  padding: 20px 25px;
}

.card-feat {
  position: relative;
  overflow: hidden;
}

.card-text-cont {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
}

.card-text {
  position: absolute;
  font-size: 18px;
  line-height: 1.555em;
  padding: 63px 24px;
  color: #ffffff;
}

.features-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
}

.features-text {
  font-size: 16px;
  line-height: 1.9em;
  color: #757575;
}

/* Clients
=================== */
.clients-item {
  display: flex;
  margin-left: -30px;
}

.clients-item > .clients-elem {
  flex-basis: calc(100% / 6);
  margin-left: 30px;
}

.clients-url {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-url:hover, .clients-url:focus {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
  border-color: #2196f3;
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
/*# sourceMappingURL=main.css.map */