/* Quality section
=================== */

.quality.section {
  padding-bottom: 0;
}

.quality-item {
  display: flex;
  margin-left: -30px;

  & > .quality-elem {
    flex-basis: calc(100% / 4);
    margin-left: 30px;
  }
}

.qual-cont-icon {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $button-color;
}

.quality-title,
.foot-name,
.foot-form-name {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1em;
  text-align: left;
  text-transform: uppercase;
}

.quality-text {
  font-size: 14px;
  line-height: 1.7em;
  color: $contacts-color;
}
