/* Service section
=================== */

.services-title,
.team-title,
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2em;
  margin-bottom: 50px;
  text-align: center;
}

.services-item {
  display: flex;
  margin-left: -30px;

  & > .services-elem {
    flex-basis: calc(100% / 3);
    margin-left: 30px;
  }
}

.services-elem {
  position: relative;
}

.services-text {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: $fons-html;
  background-color: $serv-back;
}
