/* Header
=================== */

/* Title section
=================== */

.title.section {
  padding: 200px 0;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--fons-title-color);
  background-image: linear-gradient(to right, var(--fons-title-img), var(--fons-title-img)),
    url(../img/background-img.jpg);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title-text {
  padding-bottom: 30px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4em;
  color: var(--fons-html);
}

.title-but,
.modal-form-but {
  font-weight: 700;
  line-height: 1.9em;
  padding: 10px 32px;
  background: var(--hover-color);
  color: var(--fons-html);
}

.title-but,
.work-but,
.modal-form-but {
  font-size: 16px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  font-family: inherit;
  cursor: pointer;
  border: transparent var(--hover-color);
  transition: background-color var(--transf-hover);
}

.title-but:hover,
.title-but:focus,
.modal-form-but:hover,
.modal-form-but:focus {
  background-color: var(--but-hover-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: background-color var(--transf-hover);
}

/* Quality section
=================== */

.quality.section {
  padding-bottom: 0;
}

.quality-item {
  display: flex;
  margin-left: -30px;
}

.quality-item > .quality-elem {
  flex-basis: calc(100% / 4);
  margin-left: 30px;
}

.qual-cont-icon {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--button-color);
}

.quality-title,
.foot-name,
.foot-form-name {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1em;
  text-align: left;
  text-transform: uppercase;
}

.quality-text {
  font-size: 14px;
  line-height: 1.7em;
  color: var(--contacts-color);
}

/* Service section
=================== */

.services-title,
.team-title,
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2em;
  margin-bottom: 50px;
  text-align: center;
}

.services-item {
  display: flex;
  margin-left: -30px;
}

.services-item > .services-elem {
  flex-basis: calc(100% / 3);
  margin-left: 30px;
}

.services-elem {
  position: relative;
}

.services-text {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: var(--fons-html);
  background-color: var(--serv-back);
}

/* Team section
=================== */

.team {
  background: var(--button-color);
}

.team-item {
  display: flex;
  margin-left: -30px;
}

.team-elem {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--fons-html);
}

.team-item > .team-elem {
  flex-basis: calc(100% / 4);
  margin-left: 30px;
}

.card-team-cont {
  padding: 30px 0;
  text-align: center;
}

.team-name {
  margin-bottom: 10px;
}

.team-name,
.team-position {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2em;
  text-align: center;
}

.team-position {
  margin-bottom: 16px;
  color: var(--contacts-color);
}

.team-icon {
  display: flex;
  justify-content: center;
}

.team-icon-elem:not(:first-child) {
  margin-left: 10px;
}

.team-icon-elem {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.team-icon-url {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transf-hover), color var(--transf-hover);
  background-color: var(--fons-html);
  color: var(--icon-color);
}

.team-icon-url:hover,
.team-icon-url:focus {
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--transf-hover), color var(--transf-hover);
  background-color: var(--hover-color);
  color: var(--fons-html);
}

.icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Button
=================== */

.work-item {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.work-item .work-elem + .work-elem {
  margin-left: 8px;
}

.work-but {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.6em;
  transition: box-shadow var(--transf-hover), background-color var(--transf-hover),
    color var(--transf-hover);
  background-color: var(--button-color);
  color: var(--text-color);
}

.work-but:hover,
.work-but:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: box-shadow var(--transf-hover), background-color var(--transf-hover),
    color var(--transf-hover);
  background-color: var(--hover-color);
  color: var(--fons-html);
}

/* Features
=================== */

.features-item {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.features-elem {
  box-sizing: border-box;
  background: var(--fons-html);
  border: 1px solid var(--border-color);
}

.features-item > .features-elem {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.card {
  display: block;
  transition: box-shadow var(--transf-hover);
}

.card:hover,
.card:focus {
  cursor: pointer;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow var(--transf-hover);
}

.card-feat {
  position: relative;
  overflow: hidden;
}

.card:hover .card-text-cont,
.card:focus .card-text-cont {
  transform: translateY(0);
  transition: transform var(--transf-hover);
}

.card-text-cont {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: translateY(100%);
  transition: transform var(--transf-hover);
  background-color: var(--proj-back-hover);
}

.card-text {
  position: absolute;
  font-size: 18px;
  line-height: 1.555em;
  padding: 63px 24px;
  color: var(--fons-html);
}

.card .card-feat-cont {
  padding: 20px 25px;
}

.features-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
}

.features-text {
  font-size: 16px;
  line-height: 1.9em;
  color: var(--contacts-color);
}

/* Clients
=================== */

.clients-item {
  display: flex;
  margin-left: -30px;
}

.clients-item > .clients-elem {
  flex-basis: calc(100% / 6);
  margin-left: 30px;
}

.clients-url {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid var(--icon-color);
  color: var(--icon-color);
  transition: color var(--transf-hover), border var(--transf-hover);
}

.clients-url:hover,
.clients-url:focus {
  transition: color var(--transf-hover), border var(--transf-hover);
  color: var(--hover-color);
  border-color: var(--hover-color);
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* Footer
=================== */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--fons-title-color);
}

.foot-cont-sect {
  display: flex;
  align-items: baseline;
}

.foot-logo-elem {
  color: var(--fons-html);
}

.foot-add,
.foot-contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7em;
}

.foot-add {
  margin-top: 20px;
  color: var(--fons-html);
}

.foot-contacts {
  text-decoration: none;
  color: var(--foot-cont-color);
  transition: color var(--transf-hover);
}

.foot-contacts:hover,
.foot-contacts:focus {
  color: var(--hover-color);
  transition: color var(--transf-hover);
}

.foot-elem {
  margin-top: 9px;
}

/* Footer social
=================== */

.foot-cocial-sect {
  margin-left: 72px;
}

.foot-name,
.foot-form-name {
  margin-bottom: 20px;
  color: var(--fons-html);
}

.foot-icon {
  display: flex;
  justify-content: center;
}

.foot-icon-elem:not(:first-child) {
  margin-left: 10px;
}

.foot-icon-url {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: var(--foot-back-icon);
  color: var(--fons-html);
  transition: background-color var(--transf-hover);
}

.foot-icon-url:hover,
.foot-icon-url:focus {
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--transf-hover);
  background: var(--hover-color);
  color: var(--fons-html);
}

.icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Footer form
=================== */

.foot-form {
  display: flex;
  margin-left: auto;
  align-items: flex-end;
}

.foot-form-inp {
  width: 358px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border var(--transf-hover);
  color: var(--fons-html);
  background-color: var(--fons-title-color);
}

.foot-form-inp:hover,
.foot-form-inp:focus {
  border-color: var(--hover-color);
}

.foot-form-inp::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25em;
  align-items: center;
  color: var(--foot-cont-color);
}

.foot-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 200px;
  height: 50px;
  padding: 10px 28px 10px 29px;
  margin-left: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9em;
  border: transparent;
  background: var(--hover-color);
  color: var(--fons-html);
}

.foot-form-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}

/* Modal
=================== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-back);
  transition: var(--transf-hover);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  transition: transform var(--transf-hover);
  background-color: var(--fons-html);
}

.btn-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  box-sizing: border-box;
  transition: fill var(--transf-hover);
  background: var(--fons-html);
  fill: var(--text-color);
}

.btn-modal-close:hover {
  fill: var(--hover-color);
  transition: fill var(--transf-hover);
}

.icon-btn-close {
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  width: 11px;
  height: 11px;
}

/* Modal form
=================== */

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15em;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-form-icon-lab {
  position: relative;
  margin-bottom: 10px;
}

.modal-form-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167em;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--contacts-color);
}

.modal-form-inp {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border var(--transf-hover);
}

.modal-form-icon {
  position: absolute;
  top: 29px;
  left: 12px;
  fill: var(--text-color);
  transition: fill var(--transf-hover);
}

.modal-form-inp:hover + .modal-form-icon,
.modal-form-inp:focus + .modal-form-icon {
  fill: var(--hover-color);
}

.modal-form-comment {
  font-size: 14px;
  line-height: 1.143em;
  letter-spacing: 0.01em;
  resize: none;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: -10px;
  outline: none;
  transition: border var(--transf-hover);
}

.modal-form-comment::placeholder {
  color: var(--modal-form-comm);
}

.modal-form-inp:hover,
.modal-form-inp:focus,
.modal-form-comment:hover,
.modal-form-comment:focus {
  border-color: var(--hover-color);
}

/* Modal checkbox
=================== */

.modal-form-check-cont {
  display: inline-block;
  align-self: center;
  margin-bottom: 30px;
}

.modal-form-checkbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  border: 2px solid var(--text-color);
  border-radius: 2px;
  transition: border var(--transf-hover);
}

.modal-form-check-cont:hover > .modal-form-checkbox,
.modal-form-check-cont:focus > .modal-form-checkbox {
  border-color: var(--hover-color);
}

.modal-form-check-inp:checked + .modal-form-checkbox {
  background-color: var(--hover-color);
  border-color: var(--hover-color);
}

.modal-form-checkbox-icon {
  position: absolute;
  display: block;
  width: 12px;
  height: 11px;
  fill: var(--fons-html);
}

.modal-form-chek-text {
  display: inline-block;
  padding-left: 4px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}

.m-form-checkbox-url {
  color: var(--hover-color);
}

.modal-form-but {
  display: block;
  align-self: center;
  padding: 10px 55px 10px 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* CHECKBOX */
