/* Button
=================== */

.hero__button,
.modal-form__button {
  font-weight: 700;
  line-height: 1.9em;
  padding: 10px 32px;
  background-color: $hover-color;
  color: $fons-html;
}

.hero__button,
.work__button,
.modal-form__button {
  font-size: 16px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  font-family: inherit;
  cursor: pointer;
  border: $hover-color;
  transition: background-color $transf-hover;
}

.hero__button:hover,
.hero__button:focus,
.modal-form__button:hover,
.modal-form__button:focus {
  background-color: $but-hover-color;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: background-color $transf-hover;
}
