/* Team social
=================== */
.card-social__list {
  display: flex;
  justify-content: center;
}

.card-social__item:not(:first-child) {
  margin-left: 10px;
}

.card-social__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.card-social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color $transf-hover, color $transf-hover;
  background-color: $fons-html;
  color: $icon-color;

  &:hover,
  &:focus {
    border-radius: 50%;
    cursor: pointer;
    transition: background-color $transf-hover, color $transf-hover;
    background-color: $hover-color;
    color: $fons-html;
  }
}

.card-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Footer social
=================== */

.footer-cocial {
  margin-left: 72px;
}

.footer-cocial__name,
.footer-form__name {
  margin-bottom: 20px;
  color: $fons-html;
}

.card-social__link--teams {
  background-color: $foot-back-icon;
  color: $fons-html;
  transition: background-color $transf-hover;
}
